p {
    margin: 30px;
    font-size: 30px;
}

.quatro-lados-diferentes {
    margin: 50px 0px 30px 10px;
}

.top {
    margin-top: 70px;
}

.bottom {
    margin-bottom: 70px;
}

.left {
    margin-left: 70px;
}

.right{
    margin-right: 70px;
}

.dois-valores-quatro-lados {
    margin: 70px 30px;
}